
* {
    box-sizing: border-box;
}
body {
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.wrapper{
    background: rgba(15, 15, 15, 1);
}
/* header style */
.wrapper.header {
    
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    
}
.wrapper .header .header-bts {
    width: 100%;
    height: 67px;
    margin: 0 auto;
    position: fixed;
    
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items:center;
}
.wrapper .header .header-bts .gnb {
    /* border: 2px solid aqua; */
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
.wrapper .header .header-bts .gnb:hover,
.wrapper .header .header-bts .gnb .active .gnb-nav {
    opacity: 1;
    color: #fff;
}
.wrapper .header .header-bts .gnb .btn-gnb {
    position: relative;
    height: 80%;
    background: url(../img/btn-gnb-m.png) no-repeat center;
    background-size: 60% auto;
    z-index: 1;
}
.wrapper .header .header-bts .active {
    opacity: 0;
}
.wrapper .header .header-bts .logo {
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: center;
    flex: 1;
}
.wrapper .header .header-bts .logo img {
    height: 30px;
}
.wrapper .header .header-bts .lang-opt {
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.wrapper .header .header-bts .lang-opt p {
    font-weight: 700;
    color: #ccc;
}
.wrapper .header .header-bts .lang-opt .lang-inner {
    opacity: 0;
}
.wrapper main .kv {
    display: flex;
    justify-content: space-evenly;
    
}
.wrapper main .kv .contents-obj {
    width: 1440px;
   
}
.wrapper main .kv .contents-obj img {
    padding-top: 67px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

main .profile {

}
main .profile .intro {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    
}
main .profile .intro .box {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
}
main .profile .intro .box h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 1000px;

    font-size: 80px;
    font-weight: 700;
}
main .profile .intro .box p {
    display: flex;
    align-items: start;
    padding: 40px 20px 0 100px ;
    color: #ccc;
    
    font-size: 1.2em;
    font-weight: 500;
}
main .profile .members {
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
}
main .profile .members .members-inner {
    width: 1600px;
    height: 1200px;
}
main .profile .members .members-inner .member-list {
    width: 1600px;
    height: 1200px;
    margin: 0 auto ;

    display: flex;
    flex-wrap: wrap;
    
}
main .profile .members .members-inner .member-list .profile-img {
    width: 100%;
    height: 100%;
    margin: 0 auto ;

    display: flex;
    flex-wrap: wrap;
    
}
main .profile .members .members-inner .member-list .profile-img li {
    width: 25%;
    height: 33.333%;

    display: flex;
    justify-content: center;
    align-items: center;
}
main .profile .members .members-inner .member-list .profile-img li .contents-obj img {
    width: 400px;
    height: 400px;
}
main .profile .members .members-inner .member-list .profile-img li .contents-title {
    font-weight: 700;
    font-size: 3em;
}

/* footer */
.wrapper .footer {
    width: 100%;
    height: 270px;
    background: rgba(0, 0, 0, 0.90);
}
.wrapper .footer .footerbox {
    width: 100%;
    height: 200px;
    background: rgba(15, 15, 15, 1);
}
.wrapper .footer .footer_wrap {
    width: 100%;
    height: 70px;
    background: rgba(40, 40, 40, 0.9);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper .footer .footer_wrap .social ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.wrapper .footer .footer_wrap .social ul li img {

    width: 30px;
    height: 30px;
}
.wrapper .footer .footer_wrap .family_sites {

    border-bottom: 1px solid #ccc;
    color: #ccc;
    font-weight: 700;
    padding: 5px 100px 0 100px;
    margin: 15px;
    
}
.wrapper .footer .footer_wrap .family_sites .family-inner .fnu {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .footer .footer_wrap .family_sites .family-inner button{
    opacity: 1;
}
.wrapper .footer .footer_wrap .family_sites .family-inner ul li{
    opacity: 0;
}
.wrapper .footer .footer_wrap .copyright {
    text-align: right;
    font-size: 13px;
    color: #ccc;
}
