
* {
    box-sizing: border-box;
}
body {
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.wrapper{
    background: rgba(0, 0, 0, 0.90);
}
/* header style */
.wrapper.header {
    
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    
}
.wrapper .header .header-bts {
    width: 100%;
    height: 67px;
    margin: 0 auto;
    position: fixed;
    
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items:center;
}
.wrapper .header .header-bts .gnb {
    /* border: 2px solid aqua; */
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
.wrapper .header .header-bts .gnb:hover,
.wrapper .header .header-bts .gnb .active .gnb-nav {
    opacity: 1;
    color: #fff;
}
.wrapper .header .header-bts .gnb .btn-gnb {
    position: relative;
    height: 80%;
    background: url(../img/btn-gnb-m.png) no-repeat center;
    background-size: 60% auto;
    z-index: 1;
}
.wrapper .header .header-bts .active {
    opacity: 0;
}
.wrapper .header .header-bts .logo {
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: center;
    flex: 1;
}
.wrapper .header .header-bts .logo img {
    height: 30px;
}
.wrapper .header .header-bts .lang-opt {
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.wrapper .header .header-bts .lang-opt p {
    font-weight: 700;
    color: #ccc;
}
.wrapper .header .header-bts .lang-opt .lang-inner {
    opacity: 0;
}
.wrapper main .kv {
    display: flex;
    justify-content: space-evenly;
    
}
.wrapper main .kv .contents-obj {
    width: 1440px;
   
}
.wrapper main .kv .contents-obj img {
    padding-top: 67px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

main .profile {

}
main .profile .intro {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    
}
main .profile .intro .box {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
}
main .profile .intro .box h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 1000px;

    font-size: 80px;
    font-weight: 700;
}
main .profile .intro .box p {
    display: flex;
    align-items: start;
    padding: 40px 20px 0 100px ;
    color: #ccc;
    
    font-size: 1.2em;
    font-weight: 500;
}
main .profile .members {
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
}
main .profile .members .members-inner {
    width: 1600px;
}
main .profile .members .members-inner .member-list {
    display: flex;
    width: 25%;
}
main .profile .members .members-inner .member-list .title h2 {
    width: 400px;
    display: flex;
    justify-content: center;
}
main .profile .members .members-inner .member-list .profile-img {
    display: flex;

}
main .profile .members .members-inner .member-list .profile-img img{
    width: 400px;
    height: 400px;
}
