/* reset css */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
    
}
.clearfix::after{
    content: ''; display: block; clear: both;
}
header{
    color: #fff;
}
header #header-menu{
    width: 100%; 
    padding: 15px 30px;
    background: #0000002a; opacity: 0.9;

    position: fixed; top: 0; z-index: 999;

    display: flex; justify-content: space-between;
    align-items: center;
}
header #header-menu .lnr-menu{
    font-weight: 600;
    font-size: 25px;    
}
header #header-menu a{
    font-size: 40px;
}
header #header-menu .lang-open .lang{
    font-size: 15px;
    font-weight: 700;
}

.gnb{
    opacity: 0;
    background: palegoldenrod;
    width: 100%; top: 90px;
    position: relative;
    z-index: 2;
}
.gnb ul{
    position: absolute;
    right: 10px;
    
}
.gnb ul li{
    background: #282828;
    color: #666; font-weight: 700; padding: 20px;
    display: flex; justify-content: center;
}
.gnb ul li:nth-child(2){
    background: yellowgreen;
}

.gnb:hover{
    opacity: 1;
}

footer{
    padding: 0 25px;
    color: #848383; font-weight: 700;
    height: 60px;
    background: #282828;
    /* background: #282828; */

    display: flex; justify-content: center; 
    align-items: center; 
}

footer .footer-menu{
    /* background: pink;  */
    width: 100%; 
    display: flex; justify-content: space-between; align-items: center;
}
footer .footer-menu .icon img{
    background: #232321; border-radius: 50%;
    width: 30px; margin: 4px;

    opacity: 0.5;
}
footer .footer-menu .icon img:hover{
    opacity: 1;
}

footer .footer-menu .family{
    width: 300px;
    padding: 10px 90px; font-size: 13px;
    border-bottom: 1px solid #999;
    
    display: flex; align-items: center;
    position: relative;
    left: 80px;
}

footer .footer-menu .family:hover{
    color: #666;
}
footer .footer-menu .family::after{ 
    width: 7px; height: 7px;
    position: absolute; right: 20px;

    content: '';
    border: 1px solid #999;
    border-width: 0px 2px 2px 0px;
    transform: rotate(225deg);
}
footer .footer-menu .family:hover::after{
    transform: rotate(405deg);
    position: absolute; right: 20px; bottom: 15px;
}


footer .web{
    /* background: gold;  */
    line-height: 10px;
}
footer .web p{
    width: 100%; padding: 5px 0;
    font-size: 10px;
    

    display: flex; flex-wrap: wrap;
    justify-content: flex-end; align-items: flex-end;
}

footer .web p a{
    font-weight: normal; 
    padding-right: 20px;
}




.btn{
background: #fff; color: #333; font: inherit; 
font-weight: 700;
border-radius: 7px;
border: 2px solid #ededed;
padding: 7px 10px;
cursor: pointer;
}
.btn:hover{
    background: #666;
    color: #fff;
}
.btn-red{
    background: #ff7575;
    color: #fff;

}
.btn-red:hover{
    background: #fff;
    color: #ff2e2e;
}