header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
header .inner-header {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 120px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
    
header .inner-header .menu {
    color: #fff;
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 40px;
    font-weight: 700;
}
header .gnb {
    display: none;
    /* height 100vh ==100%  50vh==50%*/
    width: 100%;
    height: 90vh;
    color: #666;
    /* background: #000; */
    font-weight: 700;
    font-size: 40px;
    position: fixed;
    left: 0;
    top:0;
    /* display: flex; */


}
header .gnb ul {
    line-height: 3.0;
}
header .gnb ul a :visited{

}
header .gnb .close {
    margin-left: 20px;
    

}
header .gnb .close span{
    font-weight: 700;
    font-size: 50px;
}
header .inner-header .logo {
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;

}
header .inner-header .logo img{
    width:65px ;
    height: 45px;
}
header .inner-header .lang-menu{
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0px 0px 0.56vw rgba(0, 0, 0, 0.4);

}
header .lang{
    display: none;
}
main {
    width: 100%;
    height: 90vh;
    background: rgb(230,20,130);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

main .back {
}


main .back .carousel{
    position: relative;
    bottom: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
}
main .back .carousel ul{
    width: 110px;
    display: flex;
    justify-content:space-evenly;
}
main .back .carousel li{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}
main .back .carousel .fitst-btn ~li{
    background: rgb(255,255,255,0.7);
}


