@import url('../common.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@700&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

section .title{
    color: #fff; font-weight: 700; font-size: 50px;
}

#top-bighit{
    padding: 150px 0;
    background: #232321;

    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#top-bighit .title{
    width: 100%;
    padding: 20px;

    position: absolute;
    top: 95px;

    display: flex;
    justify-content: center;
}

#top-bighit .bighit-box{
    padding: 0 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#top-bighit .bighit-box .bighit-about{
    width: 80%;
    padding: 30px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#top-bighit .bighit-box .bighit-about p{
    color: #999; font-weight: 700;
    padding: 20px 10px;
    width: 100%;

    display: flex;
    justify-content: center;
}

#middle-artists{
    background: #282828;
    padding: 70px 0;

    position: relative;
}
#middle-artists h2{
    /* background: greenyellow; opacity: 0.5; */
    width: 100%;
    padding: 20px 0;

    display: flex;
    justify-content: center;

    position: absolute;
    top: -55px;
}

#middle-artists .artists-box{
    background: #282828;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#middle-artists .artists-box a{
    margin-right: 15px;
}
#middle-artists .artists-box a:nth-child(3){
    padding-right: 0;
}

#middle-artists .artists-box a p{
    padding: 20px;

    display: flex;
    justify-content: center;

    font-weight: 700; color: #fff;
}

#bottom-careers{
    background: #232321;
    padding: 75px 0 170px;

    display: flex; justify-content: center; flex-wrap: wrap;
}
#bottom-careers .title{
    width: 100%; padding: 10px 0;

    display: flex;
    justify-content: center;
}

#bottom-careers span{
    width: 100%;
    margin: 50px auto; padding: 0 20%;     

    display: flex;
    justify-content: center;

    text-align: center; color: #999;
    line-height: 25px;
}

#bottom-careers .boxsupport{
    width: 300px; 
    background: pink;
    border: 1px solid #525252;
    
    display: flex; align-items: center; justify-content: space-around;
}

#bottom-careers .boxsupport a{
    background: aqua;
    width: 100%; padding: 20px 15px;
    font-weight: 700; font-size: 20px; color: #999;

    display: flex;
    justify-content: space-between;
}
#bottom-careers .boxsupport img{
    background: red;
    width: 20px; height: 10px;
}

#bottom-careers .boxsupport:hover{
    border: 1px solid #888;
}
#bottom-careers .boxsupport a:hover{
    color: #c2c2c2;
}





